body {
    font-family: monospace;
    
}
button {
    font-family: serif;
}
#ChordDisplay {
    float: right;
    padding: 20px;
    p {
        font-family: serif;
        font-size: 40px;
        position: relative;
        left: 50px;
    }
}
#Delay {
    float:  left;
    padding: 20px;
}
#ADSR {
    padding: 20px;
}